body {
    text-align: center;
    font-size: 12px;
    background-color: lightgray;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: rgba(48, 120, 148, 0.962);
    margin: auto;
}

#subtitle {
    font-size: 16px;
    font-weight: 1;
    color: rgba(4, 70, 96, 0.9);
    margin-top: 2px;
}

#pong-canva {
    border: solid 3px rgba(35, 104, 154, 0.79);
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(35, 84, 183, 0.19);
}

#bt-new-partie {
    background-color: rgba(63, 185, 213, 0.518);
    border: solid 2px rgba(35, 104, 154, 0.895);
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    color: rgba(14, 94, 151, 0.9);
}

#bt-new-partie:hover {
    background-color: rgba(35, 103, 118, 0.518);
    border-color: rgba(23, 67, 99, 0.895);
    color: rgba(10, 59, 94, 0.9);
}

#bt-new-partie:active {
    background-color: rgba(24, 70, 81, 0.518);
}

#score {
    font-size: 18px;
    color: rgba(20, 75, 95, 0.962);
    margin-top: 8px;
    margin-bottom: 10px;
}

#bt-move-left {
    background-color: rgba(63, 185, 213, 0.518);
    border: solid 2px rgba(35, 104, 154, 0.895);
    border-radius: 100%;
    padding: 10px;
    font-size: 24px;
    color: rgba(14, 94, 151, 0.9);
    margin-right: 50px;
}

#bt-move-left:hover {
    background-color: rgba(35, 103, 118, 0.518);
    border-color: rgba(23, 67, 99, 0.895);
    color: rgba(10, 59, 94, 0.9);
}

#bt-move-left:active {
    background-color: rgba(24, 70, 81, 0.518);
}

#bt-move-right {
    background-color: rgba(63, 185, 213, 0.518);
    border: solid 2px rgba(35, 104, 154, 0.895);
    border-radius: 100%;
    padding: 10px;
    font-size: 24px;
    color: rgba(14, 94, 151, 0.9);
}

#bt-move-right:hover {
    background-color: rgba(35, 103, 118, 0.518);
    border-color: rgba(23, 67, 99, 0.895);
    color: rgba(10, 59, 94, 0.9);
}

#bt-move-right:active {
    background-color: rgba(24, 70, 81, 0.518);
}

header {
    height: 9vh;
}

section {
    height: 84vh;
}

footer {
    height: 4vh;
    align-content: end;
}

#footer {
    margin: auto;
    font-size: 12px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
